@tailwind base;
@tailwind components;
@tailwind utilities;  

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.06;
  background-size: 128px;
  background-repeat: repeat;
  background-image: url("/noise.png");
  z-index: 100;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #c4c2c2;
  --sidebar-background: #a6a6a6;
  --text: #1F1F20;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #171717;
  --primary-foreground: 0 0% 98%;
  --skeleton: #1a1b22;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: 0 0% 45.1%;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: #1F1F20;
  --input: #1F1F20;
  --ring: #0a0a0a;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
  --gradientBase: conic-gradient(from 180deg at 50% 50%, #211C2D -13.8deg, #2E2145 13.2deg, #66405B 49.6deg, #D0845C 92.4deg, #D0845C 137.67deg, #8F5CB0 226.88deg, #714BD8 279deg, #211C2D 346.2deg, #2E2145 373.2deg);
  --gradientWhiteFromLeft: linear-gradient(270deg, #572FCD 0%, #E6955A 50%, #FBFAF8 100%);
  --gradientDiagonal: linear-gradient(303.85deg, #6E47C4 6.61%, #9A6179 50%, #BC7755 93.39%);
  --gradientWhiteFromBottom: linear-gradient(172.87deg, #8552AC 0%, #9F5B81 16.21%, #C68064 31.32%, #F6F6F4 63.44%);
  --gradientHorizontal: linear-gradient(90deg, #E48D48 0%, #4727B9 55.03%, #1F1F1F 100%);
  --gradientVertical: linear-gradient(180deg, #FF902F 0%, #723CEB 50%, #4C11CE 100%);
}



[data-theme="dark"] {
  --background-primary: #101115;
  --background-secondary: #1b1d25;
  --text: #fcfcfd;
  --foreground: #fafafa;
  --card: #1b1d25;
  --card-foreground: #212938;
  --skeleton: #1a1b22;
  --popover: #16181f;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #212938;
  --muted-foreground: #a3a3a3;
  --accent: #1c1f28;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #4a5468;
  --input: #262626;
  --ring: 0 0% 83.1%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text;
  }
}

.logo {
  color: var(--text);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}