@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.06;
  background-size: 128px;
  background-repeat: repeat;
  background-image: url("/img/noise.png");
  z-index: 10000;
  border-radius: 0
}

.svg-elem-1 {
  stroke-dashoffset: 195.82818603515625px;
  stroke-dasharray: 195.82818603515625px;
  fill: transparent;
  stroke: var(--foreground);
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: var(--foreground);
  stroke: var(--foreground);
}

.svg-elem-1 {
  stroke-dashoffset: 195.82818603515625px;
  stroke-dasharray: 195.82818603515625px;
  fill: transparent;
  stroke: var(--foreground);
  animation: dashAnimation 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes dashAnimation {
  0% {
    stroke-dashoffset: 195.82818603515625px;
    fill: transparent;
  }

  50% {
    stroke-dashoffset: 0;
    fill: var(--foreground);
  }

  100% {
    stroke-dashoffset: 195.82818603515625px;
    fill: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --radius: 0.5rem;
  --skeleton: oklch(0.89 0 0);
  --background: oklch(1 0 0);
  --background-transparent: 0 0% 100%;
  --foreground: oklch(13.44% 0.000 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(13.44% 0.000 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(13.44% 0.000 0);
  --primary: oklch(88.42% 0.107 168.47);
  --primary-foreground: oklch(13.44% 0.000 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(18.22% 0.000 0);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(18.22% 0.000 0);
  --destructive: oklch(64.35% 0.245 16.50);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(88.42% 0.107 168.47);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(96.12% 0.000 0);
  --sidebar-foreground: oklch(13.44% 0.000 0);
  --sidebar-primary: oklch(88.42% 0.107 168.47);
  --sidebar-primary-foreground: oklch(13.44% 0.000 0);
  --sidebar-accent: oklch(0.92 0 none);
  --sidebar-accent-foreground: oklch(18.22% 0.000 0);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.88 0.1072 168.47 / 0.74);
  --background-transparent: 240 10% 3.9%;

}

.dark {
  --background: oklch(13.44% 0.000 0);
  --background-transparent: 240 10% 3.9%;
  --foreground: oklch(96.12% 0.000 0);
  --card: oklch(18.22% 0.000 0);
  --task-card: oklch(0.17 0.0089 224.11);
  --card-foreground: oklch(96.12% 0.000 0);
  --popover: oklch(18.22% 0.000 0);
  --popover-foreground: oklch(96.12% 0.000 0);
  --primary: oklch(88.42% 0.107 168.47);
  --primary-foreground: oklch(13.44% 0.000 0);
  --secondary: oklch(27.39% 0.005 286.03);
  --secondary-foreground: oklch(96.12% 0.000 0);
  --muted: oklch(27.39% 0.005 286.03);
  --muted-foreground: oklch(64.04% 0.005 214.34);
  --accent: oklch(27.39% 0.005 286.03);
  --accent-foreground: oklch(96.12% 0.000 0);
  --destructive: oklch(64.35% 0.245 16.50);
  --border: oklch(0.24 0 102.07);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(88.42% 0.107 168.47);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(88.42% 0.107 168.47);
  --sidebar: oklch(18.22% 0.000 0);
  --sidebar-foreground: oklch(0.89 0.0033 17.22);
  --sidebar-primary: oklch(88.42% 0.107 168.47);
  --sidebar-primary-foreground: oklch(13.44% 0.000 0);
  --sidebar-accent: oklch(27.39% 0.005 286.03);
  --sidebar-accent-foreground: oklch(96.12% 0.000 0);
  --sidebar-border: oklch(0.24 0 102.07);
  --sidebar-ring: oklch(88.42% 0.107 168.47);
  --skeleton: oklch(0.21 0 none);

  /*--primary-transparent: oklch(0.88 0.11 168.45 / 0.06); */

  /*--primary-border: oklch(0.88 0.11 168.28 / 0.12) */
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text;
  }
}

.logo {
  color: var(--text);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.animate-in {
  animation: animate-in 0.5s ease-out;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}